

* {
  margin: 0 auto;
  padding: 0;
  font-family: Arial, sans-serif;
  overscroll-behavior: none; /* empêche l'effet de rebond au scroll */
}

a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}


main {
  width: 100vw; /* 100vw = 100% d'une largeur d'écran */
  height: 100vh; /* 100vh = 100% d'une hauteur d'écran */
  display: flex;
}

.container {
  width: 85%;
  margin: 0;
  display: flex;
  padding-right: 30px;
}

.img_1 {
  background: url("images/img_29.png") no-repeat center center;
  background-size: cover;
}

.img_2 {
  background: url("images/IMG_8_1.JPG") no-repeat center center;
  background-size: cover;
}


.left {
  margin: 0;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: blue;
}

.img_left {
  width: 100%;
  height: 50vh;
}

.mid {
  width: 50%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text_content p {
  margin-top: 50px;
  max-width: 100%;
  font-size: 24px;
}

.description p {
    font-size: 15px; 
    font-weight: 300; 
    font-family: 'Roboto', sans-serif;
    margin-top: 7px; 
    margin-bottom: 7px;
}

.logo{
  margin-left: 350px;
}

.mid_bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10%;
  gap: 20px;
}

.mid_bottom span {
  width: fit-content;
  margin: 0;
  font-size: 24px;
}

.similar_img {
  display: flex;
  gap: 30px;
}

.sim_img {
  width: 220px;
  height: 220px;
}

.sim_img_1 {
  background: url("images/img_10.png") no-repeat center center;
  background-size: cover;
}
.sim_img_2 {
  background: url("images/img_9.png") no-repeat center center;
  background-size: cover;
}

.right {
  width: 15%;
  height: 100vh;
  background-color: #d9d9d9;
  position: fixed;
  right: 0;
}

.burger {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: absolute; /* position absolute pour se placer par rapport au parent (right) */
  top: 40px;
  right: 20px;
}

.line_burger {
  width: 100%;
  height: 4px;
  background-color: black;
}

.link_container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-right: 20px;
}

.link_line_1 {
  display: flex;
  gap: 40px;
}

.link_line_2 input {
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
}

.link_line_3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: end;
  gap: 3px;
}

.link_line_3 a {
  width: 100%;
  text-align: end;
}

.link_line_3 a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {

    main {
      height: auto;
    }
  
    .container {
      width: 85%;
      flex-direction: column;
    }
  
    .left {
      width: 100%;
      height: auto;
      flex-direction: row;
    }
  
    .img_left {
      width: 50%;
      height: 200px;
    }
  
    .mid {
      width: 90%;
    }
  
    /* Le logo passe au-dessus du titre */
    .mid_top {
      display: flex;
      flex-direction: column;
    }
  
    .logo {
      margin-left: 0;
      order: -1;
      margin-bottom: 20px;
    }
  
    .logo img {
      max-width: 120px;
      height: auto;
    }
  
    .text_content {
      order: 0;
    }
  
    .text_content h1 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    .text_content p {
      font-size: 16px;
      margin-top: 20px;
    }
  
    .description {
      margin-top: 15px;
      order: 1;
    }
  
    .description p {
      font-size: 13px;
      line-height: 1.5;
    }
  
    .mid_bottom {
      margin-bottom: 20px;
      gap: 15px;
    }
  
    .mid_bottom span {
      font-size: 16px;
    }
  
    .similar_img {
      flex-wrap: wrap;
      gap: 15px;
    }
  
    .sim_img {
      width: 90px;
      height: 90px;
    }

  .burger {
    position: static;
    margin-bottom: 20px;
  }

  .link_container {
    margin: 0;
    align-items: center;
  }

  .link_line_1 {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .link_line_2 input {
    width: 80%;
    text-align: center;
  }

  .link_line_3 {
    align-items: center;
    text-align: center;
  }

  .link_line_3 a {
    text-align: center;
  }
}
